.button{
    background-color: #dd4200;
    border:none;
    color: white;
    padding-inline: 1.2rem;
    padding-block: .5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
}